.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
    height: 2px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #1d1c25;
    cursor: -webkit-grab;
    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
    border-color: rgb(59, 173, 227);
}

.range.ltpurple::-webkit-slider-thumb {
    border-color: rgb(87, 111, 230);
}

.range.purple::-webkit-slider-thumb {
    border-color: rgb(152, 68, 183);
}

.range.pink::-webkit-slider-thumb {
    border-color: rgb(255, 53, 127);
}

.range.blue::-moz-range-thumb {
    border-color: rgb(59, 173, 227);
}

.range.ltpurple::-moz-range-thumb {
    border-color: rgb(87, 111, 230);
}

.range.purple::-moz-range-thumb {
    border-color: rgb(152, 68, 183);
}

.range.pink::-moz-range-thumb {
    border-color: rgb(255, 53, 127);
}

input[type=range]::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
    cursor: -moz-grabbing;
}

::selection {
    background: transparent;
}

.switchContainer {
    display: inline-block;
    filter: url("index.html#gooey");
    -webkit-filter: url("#gooey");
    position: absolute;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -0%) scale(1.4);
}

.switchBg {
    width: 60px;
    height: 7px;
}

.switchBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: -12px;
    transform: translate3d(0, 0, 0);
}

.switchBg,
.switchBtn {
    background: rgb(206, 70, 70);
    transition: 300ms all ease;
}

.switchContainer.switchOn .switchBtn,
.switchContainer.switchOn .switchBg {
    background: #5fd698;
}

.switchContainer.switchOn .switchBtn {
    animation: switchOn 250ms linear forwards;
}

.switchContainer.switchOff .switchBtn {
    animation: switchOff 250ms linear forwards;
}

@keyframes switchOn {
    0% {
        transform: scale3d(1, 1, 1) translate3d(0px, 0, 0);
        transform-origin: left center;
    }
    40% {
        transform: scale3d(1.4, 0.7, 0) translate3d(20px, 0, 0);
        transform-origin: right center;
    }
    70% {
        transform: scale3d(0.9, 1.15, 1) translate3d(33px, 0, 0);
    }
    100% {
        transform: scale3d(1, 1, 1) translate3d(30px, 0, 0);
    }
}

@keyframes switchOff {
    0% {
        transform: scale3d(1, 1, 1) translate3d(30px, 0, 0);
        transform-origin: right center;
    }
    40% {
        transform: scale3d(1.4, 0.7, 0) translate3d(10px, 0, 0);
        transform-origin: right center;
    }
    70% {
        transform: scale3d(0.9, 1.15, 1) translate3d(-3px, 0, 0);
    }
    100% {
        transform: scale3d(1, 1, 1) translate3d(0px, 0, 0);
    }
}