@font-face {
    font-family: 'apercu';
    src: url("../assets/apercu-regular-pro.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

body {
    font-family: "apercu", sans-serif
}

.heading {
    text-align: center;
    color: #fff
}

.bt-default {
    position: relative;
    display: inline-block;
    line-height: 28px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #063030;
    border-color: #DBE0DF
}

.bt-default:hover {
    text-decoration: underline;
    color: #4dccbd;
    border-color: #49c5b6
}

#bm {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.center-in-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dot {
    height: 325px;
    width: 325px;
    margin: 0 auto;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.6;
}

.vertical-spacer {
    margin-top: 20px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.bt-default2 {
    position: relative;
    display: inline-block;
    height: 34px;
    padding: 0 23px;
    border: 1px solid;
    border-radius: 50px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #A6ABAB;
    border-color: #DBE0DF
}

.bt-default2:hover {
    text-decoration: underline;
    color: #49c5b6;
    border-color: #49c5b6
}